/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
/*variables*/
/*coolors*/
@import url("https://fonts.google.com/specimen/Public+Sans");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Poppins:wght@200;300&display=swap");
@import url("https://fonts.google.com/specimen/Barlow");
@import url("https://fonts.google.com/specimen/Fraunces");
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Bellefair", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Barlow";
  font-family: "Fraunces";
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

p {
  font-size: 15px;
  color: hsl(213deg, 9%, 39%);
}

img {
  cursor: pointer;
}

ul li {
  list-style: none;
}

a {
  color: hsl(212deg, 27%, 19%) !important;
  font-weight: bold;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  text-transform: capitalize;
}

h1 {
  font-size: 42px;
  color: hsl(0deg, 0%, 100%) !important;
}

nav a, nav i.nav-link {
  color: #fff !important;
}

button:focus {
  border: none;
}

.requestButton {
  background: linear-gradient(45deg, hsl(122deg, 81%, 51%), hsl(192deg, 71%, 51%));
  border-radius: 20px;
  padding: 4px 15px;
  border: none;
  font-size: 13px;
}

.header {
  background-image: url(../../assets/desktop/image-header.jpg);
  height: 85vh;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  color: hsl(0deg, 0%, 100%) !important;
}
.header .nav-link button {
  background: white;
  border: none;
  color: #155a7c;
  font-weight: bold;
  padding: 3px 15px;
  border-radius: 15px;
}

.testimonial img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonial h2 {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: hsl(210deg, 4%, 67%);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.testimonial p {
  height: 40% !important;
}
.testimonial h3 {
  font-size: 17px;
}
.testimonial h5 {
  font-size: 15px;
}

.transform .figure {
  background-image: url(../../assets/desktop/image-transform.jpg);
  background-size: cover;
  background-position: center;
}

.standout .figure {
  background-image: url(../../assets/desktop/image-stand-out.jpg);
  background-size: cover;
  background-position: center;
}

.standout a {
  background-image: linear-gradient(0deg, rgba(253, 120, 103, 0.5803921569) 33%, transparent 51%);
}

.transform a {
  background-image: linear-gradient(0deg, rgba(255, 209, 1, 0.55) 33%, transparent 51%);
}

.fruit .photo {
  background-image: url(../../assets/desktop/image-photography.jpg);
  background-size: cover;
  background-position: center;
  color: hsl(198deg, 62%, 26%);
}
.fruit .photo p {
  color: hsl(198deg, 62%, 26%);
}

.fruit .graphic {
  background-image: url(../../assets/desktop/image-graphic-design.jpg);
  background-size: cover;
  background-position: center;
  color: hsl(167deg, 40%, 24%);
}
.fruit .graphic p {
  color: hsl(167deg, 40%, 24%);
}

.images .figure1 {
  background-image: url(../../assets/desktop/image-gallery-milkbottles.jpg);
  background-size: cover;
  background-position: center;
  height: 85vh;
}
.images .figure2 {
  background-image: url(../../assets/desktop/image-gallery-orange.jpg);
  background-size: cover;
  background-position: center;
  height: 85vh;
}
.images .figure3 {
  background-image: url(../../assets/desktop/image-gallery-cone.jpg);
  background-size: cover;
  background-position: center;
  height: 85vh;
}
.images .figure4 {
  background-image: url(../../assets/desktop/image-gallery-sugarcubes.jpg);
  background-size: cover;
  background-position: center;
  height: 85vh;
}

.footer {
  background-color: hsl(168deg, 34%, 70%);
}
.footer li a, .footer .logo h2 {
  color: hsl(168deg, 34%, 41%) !important;
}
.footer ul ul {
  justify-content: space-between;
}
.footer .con {
  display: grid;
  grid-gap: 1.7rem;
}

@media (min-width: 500px) {
  .footer .row .con {
    width: 50% !important;
  }
}
@media (min-width: 767px) {
  .footer .row .con {
    width: 25% !important;
  }
}
@media (max-width: 500px) {
  .footer .row .con {
    width: 65% !important;
  }
}
@media (max-width: 250px) {
  .footer .row .con {
    width: 95% !important;
  }
}
@media (max-width: 767px) {
  .testimonial .content {
    display: grid !important;
    width: 90% !important;
    margin: auto;
  }
  .testimonial .content p {
    height: auto !important;
  }
  div#navbarTogglerDemo03 {
    position: absolute;
    top: 67px;
    background: white;
    width: 90%;
    left: 5%;
    margin: auto !important;
    z-index: 1111;
  }
  div#navbarTogglerDemo03 .nav-link {
    color: #155a7c !important;
  }
  div#navbarTogglerDemo03:before {
    content: "";
    width: 9px;
    position: absolute;
    height: 13px;
    right: 0;
    text-align: -10;
    top: -22px;
    border-right: 17px solid white;
    border-top: 24px solid transparent;
  }
  h1 {
    font-size: 36px !important;
  }
}
@media (max-width: 575px) {
  .transform .container .col-11, .standout .container .col-11 {
    text-align: center !important;
    width: 90% !important;
    margin: auto;
  }
  .transform .figure, .standout .figure {
    height: 50vh;
    order: -1;
  }
}/*# sourceMappingURL=general.css.map */