
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
/*variables*/
/*coolors*/
$Soft_red: hsl(7, 99%, 70%);
$Yellow: rgb(250, 212, 0);
$Dark_desaturated_cyan_graphic_design_text: hsl(167, 40%, 24%);
$Dark_blue_photography_text: hsl(198, 62%, 26%);
$footerText: hsl(168, 34%, 41%);
$footerBg: hsl(168, 34%, 70%);

$Very_dark_desaturated_blue: hsl(212, 27%, 19%);
$Very_dark_grayish_blue: hsl(213, 9%, 39%);
$Dark_grayish_blue: hsl(232, 10%, 55%);
$Grayish_blue: hsl(210, 4%, 67%);
$White: hsl(0, 0%, 100%);